[Unit]
Description=Xbox Controller Web App
After=network.target

[Service]
Type=simple
User=__USER__
WorkingDirectory=__PROJECT__
ExecStart=/usr/bin/authbind --deep __VENV__/bin/python app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
